/*
COLOR PALETTE
BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770
*/

body{
  text-align: center;
  background-color: #201A23;
  color: #FBFBFB;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* .container{
  border:3px solid white;
} */
h1{
  font-size: 3rem; 
  line-height: 72px;
  margin-bottom: 0px;
  margin-top: 46px;
}
h3{
  font-size: 2rem; 
  line-height: 48px;
  margin-bottom: 0px;
}
h1:hover,  h3:hover, button:hover{
  text-decoration: underline solid #38BDF8;

}
.person-img{
  border:10px solid #44354A;
  border-radius: 50%;
  width: 219px;
  height: 219px;
}

button{
  width: 188px;
  height: 80px;
  background-color: #9E4770;
  border-radius: 10px;
  line-height: 72px; 
  font-size: 3rem;  
  cursor: pointer;
}
buttons.dark{
  background-color: #bb7c99;
}
.product-buttons{
  display: flex;
  justify-content: center;
  column-gap: 7px;
  margin-top: 45px;
}
.highlight:hover{
  border:2px solid #38BDF8;
}
.icon-btn{
  width: 180px;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
.points-box{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  width: 805px;
  height: 65px;
  background-color: #44354A;
  border-radius: 50px;
  border:1px solid #44354A;
  margin: 0px auto;
  font-size: 2rem;
  padding-left: 10px;
  column-gap: 0px;
}
.total{
  display:flex;
  justify-content: center;
  column-gap: 16px;
  margin-bottom: 70px;
}

.total-box{
  width: 389px;
  height: 70px;
  background-color: #44354A;
  border-radius: 50px;
  border:1px solid #44354A;
  margin: 0px auto;
  font-size: 2.5rem;
  font-weight: 700;
  display:flex;
  align-items: center;
  justify-content: center;
}
